.codemirror-header > .CodeMirror {
    border: 1px solid #eee;
    height: 150px !important;
}

.codemirror-code > .CodeMirror {
    border: 1px solid #eee;
    /* height: 500px !important; */
    height: auto;
}

