<md-dialog aria-label="Last update infos" flex="75">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Last update infos</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="updateLogsCtl.closeDialog()" aria-label="Close dialog">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

				<md-list>
	                <!-- header -->
    	            <md-list-item>
        	            <p>Last update occured {{updateLogsCtl.lastRaspiotUpdate.time | hrDatetime}}.</p>
            	    </md-list-item>
                	<md-list-item>
                    	<p ng-if="updateLogsCtl.lastRaspiotUpdate.status===2">Cleep was updated successfully.</p>
	                    <p ng-if="updateLogsCtl.lastRaspiotUpdate.status===3">Cleep update failed because of an internal error (see logs below).</p>
    	                <p ng-if="updateLogsCtl.lastRaspiotUpdate.status===4">Cleep update failed because of an error during checksum file download.</p>
    	                <p ng-if="updateLogsCtl.lastRaspiotUpdate.status===5">Cleep update failed because of an error during application package download.</p>
    	                <p ng-if="updateLogsCtl.lastRaspiotUpdate.status===6">Cleep update failed because of application package extraction error.</p>
    	                <p ng-if="updateLogsCtl.lastRaspiotUpdate.status===7">Cleep update failed because of error during pre-installation script execution.</p>
    	                <p ng-if="updateLogsCtl.lastRaspiotUpdate.status===8">Cleep update failed because of error during application package installation.</p>
    	                <p ng-if="updateLogsCtl.lastRaspiotUpdate.status===9">Cleep update failed because of error during post-installation script execution.</p>
        	        </md-list-item>

	                <!-- process -->
					<md-subheader style="background-color:white;" class="md-subheader-inner">Process</md-subheader>
        	        <md-list-item>
            	        <code>{{modulesCtl.moduleLogs.processStr}}</code>
	                </md-list-item>

	                <!-- scripts output -->
    	            <md-subheader style="background-color:white;" class="md-subheader-inner">Standard output</md-subheader>
        	        <md-list-item>
            	        <code>{{updateLogsCtl.lastRaspiotUpdate.stdoutStr}}</code>
                	</md-list-item>

	                <!-- scripts error -->
    	            <md-subheader style="background-color:white;" class="md-subheader-inner">Errors output</md-subheader>
        	        <md-list-item>
            	        <code>{{updateLogsCtl.lastRaspiotUpdate.stderrStr}}</code>
                	</md-list-item>
	            </md-list>

            </div>
        </md-dialog-content>

    </form>
</md-dialog>

