<md-dialog flex="50">

    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>System monitor</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="monitorCtl.cancelDialog()" aria-label="Close dialog">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content>

                <!-- navigation -->
                <md-nav-bar md-selected-nav-item="monitorCtl.tabIndex" nav-bar-aria-label="Monitoring tabs">
                    <md-nav-item md-nav-click="goto('hardware')" name="hardware">Hardware</md-nav-item>
                    <md-nav-item md-nav-click="goto('media')" name="media">Media</md-nav-item>
                </md-nav-bar>

                <!-- hardware tab -->
                <div layout="column" layout-padding ng-if="monitorCtl.tabIndex=='hardware'">
                    <md-list>
                        <md-list-item>
                            <graph device="monitorCtl.monitorCpu" options="monitorCtl.graphCpuOptions" flex="100"></graph>
                        </md-list-item>
                        <md-list-item>
                            <graph device="monitorCtl.monitorMemory" options="monitorCtl.graphMemoryOptions" flex="100"></graph>
                        </md-list-item>
                    </md-list>
                </div>

                <!-- media tab -->
                <div layout="column" layout-padding ng-if="monitorCtl.tabIndex=='media'">
                    <md-list>
                        <md-list-item>
                            <graph device="monitorCtl.monitorDiskSystem" options="monitorCtl.graphDiskSystemOptions" flex="33"></graph>
                            <graph ng-show="monitorCtl.graphDistExt1Show" device="monitorCtl.monitorDiskSystem" options="monitorCtl.graphDiskExt1Options" flex="33"></graph>
                            <graph ng-show="monitorCtl.graphDistExt2Show" device="monitorCtl.monitorDiskSystem" options="monitorCtl.graphDiskExt2Options" flex="33"></graph>
                        </md-list-item>
                    </md-list>
                </div>

            </md-content>
        </md-dialog-content>

    </form>

</md-dialog>
