<div layout="column" layout-padding ng-cloak>

    <!-- navigation tabs -->
    <md-nav-bar md-selected-nav-item="systemCtl.tabIndex" nav-bar-aria-label="System tabs">
        <md-nav-item md-nav-click="goto('update')" name="update">Update</md-nav-item>
        <md-nav-item md-nav-click="goto('backup')" name="backup">Backup</md-nav-item>
        <md-nav-item md-nav-click="goto('renderings')" name="renderings">Renderings</md-nav-item>
        <md-nav-item md-nav-click="goto('advanced')" name="advanced">Advanced</md-nav-item>
        <md-nav-item md-nav-click="goto('troubleshoot')" name="troubleshoot">Troubleshoot</md-nav-item>
    </md-nav-bar>

    <!-- update -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='update'">
        <md-list ng-cloak>

            <!-- options -->
            <md-subheader class="md-no-sticky">Options</md-subheader>
            <md-list-item>
                <p>To enjoy new features and bug fixes automatically, enable automatic update</p>
            </md-list-item>
            <md-list-item ng-click="systemCtl.setAutomaticUpdate('raspiot')">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Enable automatic device application updates</p>
                <md-checkbox class="md-secondary" ng-model="systemCtl.raspiotUpdateEnabled" ng-change="systemCtl.setAutomaticUpdate()"></md-checkbox>
            </md-list-item>
            <md-list-item ng-click="systemCtl.setAutomaticUpdate('modules')">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Enable automatic modules updates</p>
                <md-checkbox class="md-secondary" ng-model="systemCtl.modulesUpdateEnabled" ng-change="systemCtl.setAutomaticUpdate()"></md-checkbox>
            </md-list-item>

            <!-- raspiot -->
            <md-subheader class="md-no-sticky">Application updates</md-subheader>
            <md-list-item>
                <p>Application version {{systemCtl.version}} is installed (last check {{systemCtl.lastCheckRaspiot | hrDatetime}})</p>
                <md-button class="md-secondary md-raised md-primary" ng-click="systemCtl.checkRaspiotUpdates()" ng-disabled="systemCtl.systemService.raspiotInstallStatus!==0 || systemCtl.raspiotUpdatePending">Check updates</md-button>
            </md-list-item>
            <md-list-item ng-if="systemCtl.raspiotUpdateAvailable && systemCtl.systemService.raspiotInstallStatus===0 && !systemCtl.raspiotUpdatePending">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>New application version available</p>
                <md-button class="md-secondary md-raised md-primary" ng-click="systemCtl.updateRaspiot()">Update application</md-button>
            </md-list-item>
            <md-list-item ng-if="systemCtl.raspiotUpdatePending">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Application updated, please reboot</p>
                <md-button class="md-secondary md-raised md-accent" ng-click="systemCtl.reboot()">Reboot</md-button>
            </md-list-item>
            <md-list-item ng-if="systemCtl.lastRaspiotUpdate.time!==0 && systemCtl.systemService.raspiotInstallStatus===0">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Last update installed at {{systemCtl.lastRaspiotUpdate.time | hrDatetime}}</p>
                <md-button class="md-secondary md-raised md-primary" ng-click="systemCtl.showLogs()">Show logs</md-button>
            </md-list-item>
            <md-list-item ng-if="systemCtl.systemService.raspiotInstallStatus!==0">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===1">Installing update...</span>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===2">Installation completed successfully</span>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===3">Installation failed (internal error)</span>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===4">Download failed</span>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===5">Download failed (file is corrupted)</span>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===6">Installation failed (decompression error)</span>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===7">Installation failed (pre-instal script failed)</span>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===8">Installation failed (package install failed)</span>
                    <span ng-if="systemCtl.systemService.raspiotInstallStatus===9">Installation failed (post-install failed)</span>
                </p>
                <div ng-if="systemCtl.systemService.raspiotInstallStatus===1" class="md-secondary">
                    <md-progress-linear md-mode="indeterminate" class="md-accent" style="min-width:250px;"></md-progress-linear>
                </div>
            </md-list-item>

            <!-- modules -->
            <md-subheader class="md-no-sticky">Modules update</md-subheader>
            <md-list-item>
                <p>Check for new modules versions (last check {{systemCtl.lastCheckModules | hrDatetime}})</p>
                <md-button class="md-secondary md-raised md-primary" ng-click="systemCtl.checkModulesUpdates()">Check updates</md-button>
            </md-list-item>
            <md-list-item ng-if="systemCtl.modulesUpdateAvailable && !systemCtl.modulesUpdateEnabled">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Some modules updates are available</p>
                <md-button class="md-secondary md-raised md-primary" ng-click="systemCtl.updateAllModules()">Update all modules</md-button>
            </md-list-item>

        </md-list>
    </div>

    <!-- backup -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='backup'">
        
        <md-list ng-cloak>

            <!-- readonly -->
            <md-subheader class="md-no-sticky">Filesystem protection</md-subheader>
            <md-list-item>
                <p>
                    SD-card is the weakness of Raspberry pi. To palliate this problem this application can run on protected filesystem.
                    Protected filesystem means the system is on read-only and cannot be corrupted (because it can't be modified).<br/>
                    However this application, to work correctly and allow system configuration, can toggle this read-only mode to writable one.<br/><br/>
                    Also application configuration is saved on volatile part of filesystem that is lost after each device reboot.
                    To keep configuration changes, application makes regular savings on filesystem.<br/><br/>
                </p>
            </md-list-item>
            <!--<md-list-item>
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Protection status</p>
                <md-checkbox class="md-secondary"></md-checkbox>
            </md-list-item>-->
            <!--<md-list-item class="md-2-line">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <div class="md-list-item-text">
                    <h3>Disable/enable protection</h3>
                    <p>Please notice that if disabled your device may not restart after an unexpected shutdown.</p>
                </div>
                <md-checkbox class="md-secondary"></md-checkbox>
            </md-list-item>-->

            <!-- backup -->
            <md-subheader class="md-no-sticky">Configuration backup</md-subheader>
            <md-list-item>
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Make configuration backup now</p>
                <md-button class="md-secondary md-raised md-primary" ng-click="systemCtl.backupConfiguration()">Backup config</md-button>
            </md-list-item>
            <md-list-item>
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Configure backup configuration delay</p>
                <div class="md-secondary">
                    <md-select ng-model="systemCtl.backupDelay" placeholder="Backup delay" class="md-no-underline">
                        <md-option value="5">5 minutes</md-option>
                        <md-option value="10">10 minutes</md-option>
                        <md-option value="15">15 minutes</md-option>
                        <md-option value="30">30 minutes</md-option>
                        <md-option value="60">60 minutes</md-option>
                    </md-select>
                </div>
                <div class="md-secondary">
                    <md-button class="md-raised md-primary" ng-click="systemCtl.setBackupDelay()">Set delay</md-button>
                </div>
            </md-list-item>

        </md-list>

    </div>

    <!-- renderings -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='renderings'">
        <md-list ng-cloak>

            <md-list-item>
                <p>Some installed modules have capability to render several events: messageboard is capable of rendering time events (displaying it) or smtp module is capable of rendering email event (sending an email)...</p>
            </md-list-item>
            <md-list-item>
                <p>Options below give you a way to disable those events handled by installed modules:</p>
            </md-list-item>
            <md-list-item ng-repeat="rendering in systemCtl.renderings" ng-click="systemCtl.updateRendering(rendering,false)">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Disable <b>{{rendering.event}}</b> handled by <b>{{rendering.renderer}}</b> module</p>
                <md-checkbox class="md-secondary" ng-model="rendering.disabled" ng-click="systemCtl.updateRendering(rendering,true)" aria-label="Rendering"></md-checkbox>
            </md-list-item>
            <md-list-item ng-if="systemCtl.renderings.length===0">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>No renderer found</p>
            </md-list-item>

        </md-list>
    </div>

    <!-- advanced -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='advanced'">
        <md-list ng-cloak>

            <!-- system action -->
            <md-subheader class="md-no-sticky">Actions</md-subheader>
            <md-list-item ng-click="systemCtl.restart()">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Restart application</p>
                <md-button class="md-secondary md-raised md-primary" ng-click="systemCtl.restart()">
                    <md-icon md-svg-icon="restart"></md-icon>
                    Restart
                </md-button>
            </md-list-item>
            <md-list-item ng-click="systemCtl.reboot()">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Reboot device</p>
                <md-button class="md-secondary md-raised md-warn" ng-click="systemCtl.reboot()">
                    <md-icon md-svg-icon="restart"></md-icon>
                    Reboot
                </md-button>
            </md-list-item>
            <md-list-item ng-click="systemCtl.halt()">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Halt device</p>
                <md-button class="md-secondary md-raised md-warn" ng-click="systemCtl.halt()">
                    <md-icon md-svg-icon="stop"></md-icon>
                    Halt
                </md-button>
            </md-list-item>

            <!-- monitoring -->
            <md-subheader class="md-no-sticky">Monitoring</md-subheader>
            <md-list-item ng-click="systemCtl.updateMonitoring(false)">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>Enable monitoring allows you to follow cpu and memory consumption of device</p>
                <md-checkbox class="md-secondary" ng-model="systemCtl.monitoring" ng-click="systemCtl.updateMonitoring(true)" aria-label="Monitoring option"></md-checkbox>
            </md-list-item>

            <!-- crash report -->
            <md-subheader class="md-no-sticky">Crash report</md-subheader>
            <md-list-item ng-click="systemCtl.updateCrashReport(false)">
                <md-icon md-svg-icon="chevron-right"></md-icon>
                <p>If you enable crash report, it will help us to improve application reliability</p>
                <md-checkbox class="md-secondary" ng-model="systemCtl.crashReport" aria-label="Crash report" ng-click="systemCtl.updateCrashReport(true)"></md-checkbox>
            </md-list-item>

        </md-list>
    </div>

    <!-- troubleshoot -->
    <div layout="row" layout-padding ng-if="systemCtl.tabIndex=='troubleshoot'">
        
        <!-- viewer -->
        <div layout="column" layout-padding flex="75" layout-sm="column" flex-sm="100">
            <md-content>
                <md-toolbar class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <h2 flex md-truncate>Log viewer</h2>
                        <md-button class="md-primary md-raised" ng-click="systemCtl.getLogs()" aria-label="Refresh logs">
                            <md-icon class="toolbar-white-icon" md-svg-icon="refresh"></md-icon>
                            Refresh logs
                        </md-button>
                        <md-button class="md-primary md-raised" ng-click="systemCtl.downloadLogs()" aria-label="Download logs">
                            <md-icon class="toolbar-white-icon" md-svg-icon="download"></md-icon>
                            Download logs
                        </md-button>
                    </div>
                </md-toolbar>
                <div ui-codemirror ui-codemirror-opts="systemCtl.codemirrorOptions" ng-model="systemCtl.logs" class="codemirror-code"></div>
            </md-content>
        </div>

        <!-- debug config -->
        <div layout="column" layout-padding flex="25">
            <div class="md-title">
                Modules to debug
            </div>
            <div>
                <div ng-repeat="(module, debug) in systemCtl.debugs">
                    <md-checkbox ng-model="debug.debug" aria-label="Debug enabled" ng-change="systemCtl.moduleDebugChanged(module)">
                        {{module}}
                    </md-checkbox>
                </div>
            </div>
            <div class="md-title">
                Advanced debug
            </div>
            <div>
                <div>
                    <md-checkbox ng-model="systemCtl.debugSystem" aria-label="Debug system" ng-change="systemCtl.systemDebugChanged()">
                        Debug system modules
                    </md-checkbox>
                </div>
                <div>
                    <md-checkbox ng-model="systemCtl.debugTrace" aria-label="Enable trace" ng-change="systemCtl.traceChanged()">
                        Enable full log (trace)
                    </md-checkbox>
                </div>
            </div>
        </div>

    </div>

</div>

