<div layout="column" ng-cloak class="module-padding">

    <!-- navigation tabs -->
    <md-nav-bar md-selected-nav-item="$ctrl.tabIndex" nav-bar-aria-label="System tabs">
        <md-nav-item md-nav-click="goto('drivers')" name="drivers">Drivers</md-nav-item>
        <md-nav-item md-nav-click="goto('backup')" name="backup">Backup</md-nav-item>
        <md-nav-item md-nav-click="goto('renderings')" name="renderings">Renderings</md-nav-item>
        <md-nav-item md-nav-click="goto('advanced')" name="advanced">Advanced</md-nav-item>
        <md-nav-item md-nav-click="goto('troubleshoot')" name="troubleshoot">Troubleshoot</md-nav-item>
    </md-nav-bar>

    <!-- backup -->
    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='backup'">
        <config-note
            cl-type="info" cl-icon="information"
            cl-note="<u>Filesystem protection</u><p>SD-card is the weakness of Raspberry pi. To palliate this problem this application can run on protected filesystem. Protected filesystem means the system is on read-only and cannot be corrupted (because it can't be modified).<br/> However this application, to work correctly and allow system configuration, can toggle this read-only mode to writable one.<br/><br/> Also application configuration is saved on volatile part of filesystem that is lost after each device reboot.To keep configuration changes, application makes regular savings on filesystem.</p>"
        ></config-note>

        <config-section cl-title="Backup configuration" cl-icon="lifebuoy"></config-section>
        <config-button
            cl-title="Trigger backup now" cl-click="$ctrl.backupConfiguration()"
            cl-btn-label="Backup" cl-btn-icon="download-box"
        ></config-button>
        <config-select
            cl-title="Configure backup delay" cl-options="$ctrl.backupDelays"
            cl-model="$ctrl.config.cleepbackupdelay"
            cl-click="$ctrl.setBackupDelay()"
        ></config-select>
    </div>

    <!-- renderings -->
    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='renderings'">
        <config-note
            cl-type="info" cl-icon="information"
            cl-note="<u>Info about rendering</u>Some installed applications have capability to automatically handle several events:<ul><li>messageboard app is able to display time events to display current time on the physical board,</li><li>smtp module is able to render alert event to send an email,</li><li>alarmclock is able to trigger an alarm at specific time</li><li>etc...</li></li></ul>Options below give you a way to disable those events automatically triggered by installed applications."
        ></config-note>
        <config-list
            cl-empty="No installed application is able to render event"
            cl-items="$ctrl.renderings" cl-selectable="true"
            cl-on-select="$ctrl.updateRendering(value, current)"
        ></config-list>
    </div>

    <!-- drivers -->
    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='drivers'">
        <config-drivers cl-title=""></config-drivers>
    </div>

    <!-- advanced -->
    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='advanced'">
        <config-section cl-title="Actions" cl-icon="cog"></config-section>
        <config-button
            cl-title="Restart Cleep" cl-click="$ctrl.restart()"
            cl-btn-label="Restart" cl-btn-icon="restart"
        ></config-button>
        <config-button
            cl-title="Reboot device" cl-click="$ctrl.reboot()"
            cl-btn-label="Reboot" cl-btn-icon="restart" cl-btn-class="md-accent"
        ></config-button>
        <config-button
            cl-title="Power off device" cl-click="$ctrl.poweroff()"
            cl-btn-label="Power off" cl-btn-icon="stop" cl-btn-color="md-accent"
        ></config-button>

        <config-section cl-title="Tweaks" cl-icon="tune"></config-section>
        <config-switch
            cl-title="Enable board activity LED" cl-model="$ctrl.config.enableactivityled"
            cl-meta="'activity'"
            cl-click="$ctrl.updateTweakLed(value, meta)"
        ></config-switch>
        <config-switch
            cl-title="Enable board power LED" cl-model="$ctrl.config.enablepowerled"
            cl-meta="'power'"
            cl-click="$ctrl.updateTweakLed(value, meta)"
        ></config-switch>

        <config-section cl-title="Monitoring" cl-icon="monitor-eye"></config-section>
        <config-switch
            cl-title="Enable monitoring allows you to follow cpu and memory consumption of device"
            cl-model="$ctrl.config.monitoring"
            cl-click="$ctrl.updateMonitoring(value)"
        ></config-switch>

        <config-section cl-title="Crash report" cl-icon="bug"></config-section>
        <config-switch
            cl-title="Enabling crash report allows Cleep team to improve application reliability"
            cl-model="$ctrl.config.crashreport"
            cl-click="$ctrl.updateCrashReport(value)"
        ></config-switch>
    </div>

    <!-- troubleshoot -->
    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='troubleshoot'">
        <config-select
            cl-title="Select applications to enable debug on" cl-no-select-all="true"
            cl-options="$ctrl.debugOptions" cl-model="$ctrl.debugs"
            cl-click="$ctrl.moduleDebugChanged(value)"
        ></config-select>
        <config-switch
            cl-title="Debug Cleep core"
            cl-model="$ctrl.config.debug.core"
            cl-click="$ctrl.coreDebugChanged(value)"
        ></config-switch>
        <config-switch
            cl-title="Enable full log (trace)"
            cl-model="$ctrl.config.debug.trace"
            cl-click="$ctrl.traceChanged(value)"
        ></config-switch>
        <config-code
            cl-title="Log viewer" cl-config="$ctrl.editorConfig"
            cl-buttons="$ctrl.codeButtons" cl-model="$ctrl.logs"
        ></config-code>
    </div>

</div>

