<md-dialog aria-label="Update infos" flex="75">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update infos</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="updateCtl.closeDialog()" aria-label="Close dialog">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

				<md-list>
	                <!-- header -->
    	            <md-list-item>
        	            <p>You're going to update CleepOS v{{updateCtl.version}} to v{{updateCtl.raspiotUpdateAvailable}}.</p>
            	    </md-list-item>

    	            <!-- changelog -->
        	        <md-subheader style="background-color:white;" class="md-subheader-inner">What's new</md-subheader>
            	    <md-list-item>
                	    <span ng-if="updateCtl.raspiotUpdateChangelog.length>0" ng-bind="updateCtl.raspiotUpdateChangelog"></span>
	                    <span ng-if="!updateCtl.raspiotUpdateChangelog || updateCtl.raspiotUpdateChangelog.length===0">No changelog provided</span>
    	            </md-list-item>

				</md-list>
	
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-click="updateCtl.closeDialog()">
                <md-icon md-svg-icon="close-circle"></md-icon>
                Cancel
            </md-button>
            <md-button ng-click="updateCtl.updateRaspiot()" class="md-accent">
                <md-icon md-svg-icon="plus-circle"></md-icon>
                Update
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>

